@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Smooch+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Smooch+Sans:wght@700&display=swap');
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
.footerLeft img{
  width: 50%;
}
.allBox {
  display: flex;
  gap: 40px;
  margin-top: 115px;
}

.box {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 24px;
  font-weight: 900;
  font-family: "Heebo", sans-serif;
}

.link {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  color: gray;
  font-size: 18px;
  font-family: "Heebo", sans-serif;
}
p {
  color: gray;
  padding-bottom: 20px;
  font-family: "Heebo", sans-serif;
}

.yanYana {
  display: flex;
  align-items: center;
}

.enter input {
  padding: 15px 25px;
  background-color: white;
  color: gray;
  border: 1px solid gray;
  border-radius: 15px;
}
.subscribe {
  margin-left: 25px;
}
.subscribe button {
  padding: 15px 30px;
  background-color: #7158dc;
  color: white;
  border: none;
  border-radius: 15px;
}

h5 {
  padding: 20px 0px;
  font-size: 20px;
  font-family: "Heebo", sans-serif;
}

@media (max-width: 1440px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .allBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img {
    width: 50%;
  }
  /* .lastFooter{
      display: flex;
  } */
}

@media (max-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footerLeft {
    text-align: center;
  }
  .yanYana {
    margin-left: 165px;
  }
  .allBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
}

@media (max-width: 500px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .yanYana {
    margin-left: 0px;
    margin-bottom: 25px;
  }
  .allBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .last-footer {
    display: flex;
    flex-direction: column;
  }
}
